/* App-wide styling */
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
}

#links a {
    color: var(--foreground);
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: var(--border) 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: var(--muted);
    cursor: pointer;
}

#header {
    max-width: 1200px;
}



/* Echo */
#echo {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: var(--card);
    padding: 20px;
    border-radius: 10px;
}

#echo>h4 {
    margin: 0px 0px 15px 0px;
}


#echo>input {
    border: none;
    border-bottom: 1px var(--foreground) solid;
    background-color: transparent;
    color: var(--foreground);
    transition: border-bottom-color 0.2s ease;
    outline: none;
    display: block;
    padding: 0px 0px 5px 0px;
    width: 100%;
}

#echo>input:focus {
    border-bottom-color: var(--ring);
}

#echo>p {
    margin: 20px 0px 0px auto;
}