[submodule "reference/roam"]
	path = reference/roam
	url = https://github.com/bearcove/roam.git
[submodule "reference/tracey"]
	path = reference/tracey
	url = https://github.com/bearcove/tracey.git
[submodule "reference/dodeca"]
	path = reference/dodeca
	url = https://github.com/bearcove/dodeca.git
[submodule "reference/facet"]
	path = reference/facet
	url = https://github.com/facet-rs/facet.git
[submodule "reference/reaper-rs"]
	path = reference/reaper-rs
	url = https://github.com/helgoboss/reaper-rs.git
[submodule "reference/helgobox"]
	path = reference/helgobox
	url = https://github.com/helgoboss/helgobox.git
[submodule "reference/sws"]
	path = reference/sws
	url = https://github.com/reaper-oss/sws.git
