[package]
name = "primitives"
version = "0.1.0"
edition = "2024"



[dependencies]
serde = { version = "1.0", features = ["derive"] }
specta = { version = "=2.0.0-rc.22", features = ["derive"] }
taurpc = { version = "0.5.2" }
